.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color:pink;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}
.text-centre{
  text-align: center;
}
.Expense-container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
.transaction-form input{
width: 100%;
margin: 10px 0 0 0;
}
.transaction-list{
  margin: 0;
  padding: 0;
}
.transaction-list > li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  margin: 5px 0;
  background-color: white;
  padding: 10px 5px;
}